[Unit]
Description=Network Interface Events Logging Daemon
Before=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/nield

[Install]
WantedBy=multi-user.target
